.imgname {
    height: 180px;
    position: absolute;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    margin-top: 25px;
}

.containername {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../src/imgs/wall2.jpg");

    opacity: 1.0;
    transition: all 0.2s ease-in-out;
    transform-style: preserve-3d;
    filter: blur(2px);
    margin-top: -50px;
}

.containername:hover {
    opacity: 0.92;
    filter: blur(0px);
}