.containerdesigns {
    margin-top: 50px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 50px;
}

.containerdesigns>* {
    width: $width_design;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    position: relative;
    transition: all 2s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
}

.containerdesigns>*:hover {
    transform: perspective(600px) rotateY(-180deg) translateX(100%);
}

.imgdesign:nth-child(n) {
    height: 280px;
    width: 300px;
    margin-top: 15px;
    transition: all 0.2s ease;
}

.imgdesign:nth-child(n):hover {
    filter: grayscale(0%);
}

.namedesign1:nth-child(n) {
    font-size: 20px;
    line-height: 20px;
    width: 280px;
    position: absolute;
    bottom: 60px;
    transition: all 0.2s ease;
}

.namedesign2:nth-child(n) {
    font-size: 20px;
    line-height: 40px;
    width: 260px;
}