
.containergallery {
    position: relative;
    width: 100%;
    height: $height_container__galery;
}
.view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $height_container__galery;
    background-color: white;
    overflow: hidden;
}

.view__img{
    width: 100%;
}

.preview__img{
    width: 100%;
    width: 180px;
    height: 180px;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #242426;
    bottom: -100px;
    right: 50px;
}