.header {
    background-color: #222221;
    height: $height_header;
    display: flex;
    position: fixed;
    width: 100%;
    left: 50%;
    margin: 0 auto;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0.9;
}

.header__item {
    height: $height_header;
    display: flex;
    align-items: center;
}

.header__item:nth-child(1) {
    width: 50%;
    justify-content: left;
}

.header__item:nth-child(2) {
    width: 50%;
    justify-content: flex-end;
}