$background-color_header: #242426;
$color_header: #fff;
$color_footer: #D0D0D0;
$height_header: 50px;
$height_btnmenu: 30px;
$height_btnmenu_compress: 20px;
$height_btnuser: 30px;
$height_imgname: 130px;
$height_design: 340px;
$width_design: 330px;
$height_container__imgname: 160px;
$height_container__galery: 300px;
//fonts
$lato: 'Lato',
sans-serif;