$background-color_header: #222221;
$color_header: #fff;
$color_footer: #D0D0D0;
$height_header: 50px;
$height_btnmenu: 30px;
$height_btnmenu_compress: 20px;
$height_btnuser: 30px;
$height_imgname: 150px;
$height_container__imgname: 150px;
$height_design: 340px;
$width_design: 330px;
$height_container__galery: 330px;
$small-breakpoint1:1200px;
$small-breakpoint2:850px;
$small-breakpoint3:530px;
//fonts
$lato: 'Lato',
sans-serif;
$lobster: 'Lobster',
cursive;