$background-color_header: #222221;
$color_header: #fff;
$color_footer: #d8d8a8;
$height_header: 50px;
$height_btnmenu: 30px;
$height_btnmenu_compress: 20px;
$height_btnuser: 30px;
$height_imgname: 130px;
$height_container__imgname: 150px;
$height_container__galery: 300px;
//fonts
$lato: 'Lato',
sans-serif;